.anchor
{
    COLOR: blue;
    CURSOR: hand;
    TEXT-DECORATION: underline
}
.selected
{
    FONT-WEIGHT: bolder
}
.invisible
{
    DISPLAY: none;
    VISIBILITY: hidden
}
.listBox
{
    WIDTH: 200px
}
.narrowListBox
{
    WIDTH: 100px
}
